In [149]:
import pandas as pd
import numpy as np
import re
import datetime
import time
import random

def fun_data_clean(dir_str, dt):
    data = pd.read_excel(dir_str)

    def phone_num(x):
        phone_list = re.findall('\d.\d{3}.\d{3}.\d{2}.\d{2}',x)
        phone_list = [re.sub('\D','',x) for x in phone_list]
        if len(phone_list) == 0:
            return [-1,-1]
        else:
            phone_list = [int(x) for x in phone_list]
        if len(phone_list) == 1:
            phone_list.append(-1)
        return phone_list

    def time_posting(x):
        if pd.isnull(x):
            return datetime.datetime(3000,1,1,0,0)
        hour = int(re.findall(', (\d+):\d+',x)[0])
        minute = int(re.findall(', \d+:(\d+)',x)[0])
        s = re.split(',', x)[0]
        if s == u'вчера':
            dt_tmp = dt + datetime.timedelta(-1)
            day = dt_tmp.day
            month = dt_tmp.month
        elif s == u'сегодня': 
            day = dt.day
            month = dt.month
        else:
            s = re.sub(u'янв', '01', s.lower())
            s = re.sub(u'фев', '02', s.lower())
            s = re.sub(u'мар', '03', s.lower())
            s = re.sub(u'апр', '04', s.lower())
            s = re.sub(u'май', '05', s.lower())
            s = re.sub(u'июн', '06', s.lower())
            s = re.sub(u'июл', '07', s.lower())
            s = re.sub(u'авг', '08', s.lower())
            s = re.sub(u'сен', '09', s.lower())
            s = re.sub(u'окт', '10', s.lower())
            s = re.sub(u'ноя', '11', s.lower())
            s = re.sub(u'дек', '12', s.lower())
            day = int(re.findall('(\d+) \d+', s)[0])
            month = int(re.findall('\d+ (\d+)', s)[0])
        year = datetime.date.today().year
        return datetime.datetime(year,month,day,hour,minute)

    cnt_rooms = data.cnt_rooms.apply(lambda x: -1 if len(re.findall('^\d',x))==0
                                                     else int(re.findall('^\d',x)[0]))
    flat_ids = data.url.apply(lambda x: -1 if len(re.findall('/(\d+)/',x))==0
                                            else int(re.findall('/(\d+)/',x)[0]))

    data.dt_metro.fillna('NULL',inplace=True)
    dt_metro_int = data.dt_metro.apply(lambda x: -1 if len(re.findall('^\d+', re.sub(' +', '', x)))==0
                                                    else int(re.findall('^\d+', re.sub(' +', '', x))[0]))
    dt_metro_type =  data.dt_metro.apply(lambda x: "NULL" if len(re.findall('^\d+\D+', re.sub(' +','',x)))==0
                                                             else re.findall('^\d+(\D+)', re.sub(' +','',x))[0])
    data.popularity.fillna("NULL",inplace=True)
    popularity_all = data.popularity.apply(lambda x: -1 if len(re.findall(u'всего (\d+)',x))==0 
                                                           else int(re.findall(u'всего (\d+)',x)[0]))
    popularity_today = data.popularity.apply(lambda x: -1 if len(re.findall(u'сегодня (\d+)',x))==0
                                                             else int(re.findall(u'сегодня (\d+)',x)[0]))
    floor_cur = data.floor.apply(lambda x: -1 if len(re.findall('/',x))==0
                                                             else int(re.split('/',x)[0]))
    floor_all = data.floor.apply(lambda x: -1 if len(re.findall('/',x))==0
                                                             else int(re.split('/',x)[1]))
    living_area = data.living_area.apply(lambda x: -1 if len(re.findall("\D",re.sub(u'\u2013','-1',re.sub(',','.',re.sub(u'м2','',x)))))>2
                                                             else float(re.sub(u'\u2013','-1',re.sub(',','.',re.sub(u'м2','',x)))))
    kitchen_area = data.kitchen_area.apply(lambda x: -1 if len(re.findall("\D",re.sub(u'\u2013','-1',re.sub(',','.',re.sub(u'м2','',x)))))>2
                                                             else float(re.sub(u'\u2013','-1',re.sub(',','.',re.sub(u'м2','',x)))))

    for f in ['avg_price_m2_in_house',
              'avg_rental_rate',
              'district_population',
              'avg_age',
              'avg_price_m2_in_district']:
        data[f].fillna('0',inplace=True)
    avg_price_m2_in_house = data.avg_price_m2_in_house.apply(lambda x: int(re.sub('\D','',x)))
    avg_rental_rate = data.avg_rental_rate.apply(lambda x: int(re.sub('\D','',x)))
    district_population = data.district_population.apply(lambda x: int(re.sub('\D','',x)))
    avg_age = data.avg_age.apply(lambda x: int(re.sub('\D','',x)))
    avg_price_m2_in_district = data.avg_price_m2_in_district.apply(lambda x: int(re.sub('\D','',x)))
    phone_first = [x[0] for x in data.message.apply(phone_num)]
    phone_second = [x[1] for x in data.message.apply(phone_num)]

    data_clean = pd.DataFrame(data=zip(flat_ids,
                              cnt_rooms,
                              data.total_area,
                              kitchen_area,
                              living_area,
                              floor_cur,
                              floor_all,
                              data.price_all,
                              np.round((data.price_all/data.total_area).values),
                              avg_price_m2_in_house,
                              avg_price_m2_in_district,
                              avg_rental_rate,
                              popularity_today,
                              popularity_all,
                              data.metro,
                              dt_metro_int,
                              dt_metro_type,
                              data.year_of_construction,
                              data.house_type,
                              data.cnt_entrance,
                              data.cnt_flats,
                              data.name_of_district,
                              district_population,
                              avg_age,
                              phone_first,
                              phone_second,
                              data.time_of_posting.apply(time_posting),           
                              [dt for i in range(data.shape[0])]  
                             ),
                     columns = ['id',
                                'cnt_rooms',
                                'total_area',
                                'kitchen_area',
                                'living_area',
                                'floor_cur',
                                'floor_all',
                                'price_all',
                                'price_m2',
                                'avg_price_m2_in_house',
                                'avg_price_m2_in_district',
                                'avg_rental_rate',
                                'popularity_today',
                                'popularity_all',
                                'metro',
                                'metro_time',
                                'metro_time_type',
                                'year_of_construction',
                                'house_type',
                                'cnt_entrance',
                                'cnt_flats',
                                'name_of_district',
                                'district_population',
                                'avg_age_of_constructions',
                                'phone_first',
                                'phone_second',
                                'dt_post',
                                'dt_report'
                               ]
                    )
    return data_clean

In [ ]:
data.ix[79,:]

In [ ]:
data_clean.ix[79,:]

148408307 149268722 148931398

In [150]:
path_str = 'C:\\Users\\vvashchenko\\Desktop\\kaggle\\cian'

zyablikovo_060916 = fun_data_clean(dir_str = path_str+r'\zyablikovo_060916.xlsx',dt=datetime.date(2016,9,6))
zyablikovo_110916 = fun_data_clean(dir_str = path_str+r'\zyablikovo_110916.xlsx',dt=datetime.date(2016,9,11))

orehovo_borisovo_yuzhnoe_060916 = fun_data_clean(dir_str = path_str+r'\orehovo_borisovo_yuzhnoe_060916.xlsx',dt=datetime.date(2016,9,6))
orehovo_borisovo_yuzhnoe_110916 = fun_data_clean(dir_str = path_str+r'\orehovo_borisovo_yuzhnoe_110916.xlsx',dt=datetime.date(2016,9,11))

orehovo_borisovo_severnoe_060916 = fun_data_clean(dir_str = path_str+r'\orehovo_borisovo_severnoe_060916.xlsx',dt=datetime.date(2016,9,6))
orehovo_borisovo_severnoe_110916 = fun_data_clean(dir_str = path_str+r'\orehovo_borisovo_severnoe_110916.xlsx',dt=datetime.date(2016,9,11))

nagatino_sadovniki_060916 = fun_data_clean(dir_str = path_str+r'\nagatino_sadovniki_060916.xlsx',dt=datetime.date(2016,9,6))
nagatino_sadovniki_110916 = fun_data_clean(dir_str = path_str+r'\nagatino_sadovniki_110916.xlsx',dt=datetime.date(2016,9,11))

moskvoreche_saburovo_060916 = fun_data_clean(dir_str = path_str+r'\moskvoreche_saburovo_060916.xlsx',dt=datetime.date(2016,9,6))
moskvoreche_saburovo_110916 = fun_data_clean(dir_str = path_str+r'\moskvoreche_saburovo_110916.xlsx',dt=datetime.date(2016,9,11))

caricyno_060916 = fun_data_clean(dir_str = path_str+r'\caricyno_060916.xlsx',dt=datetime.date(2016,9,6))
caricyno_110916 = fun_data_clean(dir_str = path_str+r'\caricyno_110916.xlsx',dt=datetime.date(2016,9,11))

brateevo_060916 = fun_data_clean(dir_str = path_str+r'\brateevo_060916.xlsx',dt=datetime.date(2016,9,6))
brateevo_110916 = fun_data_clean(dir_str = path_str+r'\brateevo_110916.xlsx',dt=datetime.date(2016,9,11))

In [151]:
frames = [zyablikovo_060916, zyablikovo_110916, 
          orehovo_borisovo_yuzhnoe_060916, orehovo_borisovo_yuzhnoe_110916,
          orehovo_borisovo_severnoe_060916, orehovo_borisovo_severnoe_110916,
          nagatino_sadovniki_060916, nagatino_sadovniki_110916,
          moskvoreche_saburovo_060916, moskvoreche_saburovo_110916,
          caricyno_060916, caricyno_110916,
          brateevo_060916, brateevo_110916]
result = pd.concat(frames)

In [30]:
result.ix[result.id == 149386843,['popularity_today','popularity_all']]

     popularity_today  popularity_all
0                   1               7
390                 6              22

In [28]:
result.index = range(result.shape[0])

In [33]:
len(np.unique(result.id))

3297

In [61]:
time.sleep(random.uniform(0,1.5))

In [71]:
grouped = result['id'].groupby(result['name_of_district'])
grouped.nunique()

name_of_district
Братеево                     456
Зябликово                    421
Москворечье-Сабурово         315
Нагатино-Садовники           391
Орехово-Борисово Северное    356
Орехово-Борисово Южное       484
Царицыно                     484
dtype: int64

In [72]:
grouped.count()

name_of_district
Братеево                     765
Зябликово                    750
Москворечье-Сабурово         561
Нагатино-Садовники           690
Орехово-Борисово Северное    620
Орехово-Борисово Южное       848
Царицыно                     855
dtype: int64

In [115]:
grouped = result.id.groupby([result.id,result.name_of_district])

In [119]:
grouped_1 = grouped.count()

In [136]:
grouped_2 = grouped_1.groupby([grouped_1.index.labels[1],grouped_1.values])

In [137]:
grouped_1.index.levels[1]

Index([u'Братеево', u'Зябликово', u'Москворечье-Сабурово',
       u'Нагатино-Садовники', u'Орехово-Борисово Северное',
       u'Орехово-Борисово Южное', u'Царицыно'],
      dtype='object', name=u'name_of_district')

In [138]:
grouped_2.sum()

0  1    147
   2    618
1  1     92
   2    658
2  1     69
   2    492
3  1     92
   2    598
4  1     92
   2    528
5  1    120
   2    728
6  1    113
   2    742
dtype: int64

In [154]:
res_tmp = result.price_m2/result.avg_price_m2_in_house

In [165]:
np.unique(result.id[res_tmp<0.75].values)

array([  4441862,  47710547, 146815940, 148622506, 148811244, 148908314,
       148931398, 149140379, 149172418, 149326582, 149353414, 149516255,
       149516956, 149542229], dtype=int64)

In [167]:
zyablikovo_060916

,id,cnt_rooms,total_area,kitchen_area,living_area,floor_cur,floor_all,price_all,price_m2,avg_price_m2_in_house,...,house_type,cnt_entrance,cnt_flats,name_of_district,district_population,avg_age_of_constructions,phone_first,phone_second,dt_post,dt_report
0,149386843,3,58,8.0,42.0,8,9,8800000,151724,156384,...,панельный,6,215,Зябликово,132348,33,79653196975,74957770032,2016-09-04 14:09:00,2016-09-06
1,28139920,4,10,10.0,64.0,6,22,12400000,1240000,147425,...,панельный,2,174,Зябликово,132348,33,79035424224,-1,2016-09-02 17:34:00,2016-09-06
2,149232579,3,60,6.0,44.0,1,9,10800000,180000,156394,...,панельный,8,287,Зябликово,132348,33,74953630160,-1,2016-09-06 00:51:00,2016-09-06
3,146945483,5,10,17.2,61.0,1,14,10990000,1099000,156095,...,панельный,4,190,Зябликово,132348,33,79261132246,-1,2016-08-21 11:00:00,2016-09-06
4,22527282,2,59,10.0,36.0,21,22,9900000,167797,157484,...,панельный,3,261,Зябликово,132348,33,79167365429,79263733832,2016-08-24 12:33:00,2016-09-06
5,145522442,2,56,10.0,32.0,2,17,9000000,160714,164151,...,панельный,3,416,Зябликово,132348,33,79162749545,-1,2016-08-30 13:35:00,2016-09-06
6,147924231,3,76,11.0,51.0,2,17,12000000,157895,155290,...,панельный,3,203,Зябликово,132348,33,79660257520,-1,2016-07-01 20:31:00,2016-09-06
7,145240694,1,32,7.0,18.1,1,9,4800000,150000,155828,...,панельный,4,144,Зябликово,132348,33,74952320073,79645608716,2016-09-05 18:30:00,2016-09-06
8,149431421,3,62,9.0,40.0,4,12,9690000,156290,156095,...,панельный,4,190,Зябликово,132348,33,79166893818,-1,2016-09-06 13:06:00,2016-09-06
9,149245791,1,40,8.0,19.0,2,17,6100000,152500,165152,...,панельный,3,203,Зябликово,132348,33,74957850055,79067407623,2016-08-30 20:13:00,2016-09-06
10,149232589,1,32,6.0,18.0,2,9,5200000,162500,154094,...,панельный,6,215,Зябликово,132348,33,74953634818,-1,2016-09-06 00:51:00,2016-09-06
11,49459041,2,44,6.0,28.0,8,9,6500000,147727,155954,...,панельный,6,202,Зябликово,132348,33,79037910519,-1,2016-09-04 22:05:00,2016-09-06
12,49081631,3,74,10.8,47.0,10,17,12700000,171622,155025,...,панельный,7,474,Зябликово,132348,33,79637695252,-1,2016-09-05 23:38:00,2016-09-06
13,149389438,1,39,9.0,20.0,5,14,6100000,156410,154067,...,панельный,4,223,Зябликово,132348,33,79250115441,-1,2016-09-06 20:16:00,2016-09-06
14,22997352,3,52,6.0,37.0,2,9,7500000,144231,157283,...,панельный,6,215,Зябликово,132348,33,79263005332,-1,2016-08-29 16:36:00,2016-09-06
15,35796036,1,40,9.0,21.0,3,12,6800000,170000,151901,...,панельный,8,378,Зябликово,132348,33,79257725024,79267347471,2016-08-30 12:19:00,2016-09-06
16,148871642,1,41,9.5,20.6,9,14,6600000,160976,152955,...,панельный,9,470,Зябликово,132348,33,89654100628,74959258825,2016-08-25 22:57:00,2016-09-06
17,149400137,3,59,6.0,44.0,7,9,7560000,128136,157642,...,панельный,8,287,Зябликово,132348,33,74953690029,-1,2016-09-05 12:10:00,2016-09-06
18,148468969,1,40,8.0,20.0,6,14,5700000,142500,153866,...,панельный,6,334,Зябликово,132348,33,79164402816,74956467423,2016-09-05 13:08:00,2016-09-06
19,30776248,4,63,6.0,46.0,5,9,7950000,126190,154442,...,панельный,6,210,Зябликово,132348,33,79037574687,74957720315,2016-09-02 00:16:00,2016-09-06
20,149413560,2,52,9.0,31.0,12,14,8700000,167308,153959,...,панельный,3,167,Зябликово,132348,33,79262273300,-1,2016-09-05 18:32:00,2016-09-06
21,50763983,2,45,6.0,28.0,8,9,6950000,154444,157143,...,панельный,8,287,Зябликово,132348,33,79091604177,-1,2016-08-21 21:00:00,2016-09-06
22,148786996,1,39,8.6,20.8,7,14,5527000,141718,153866,...,панельный,6,334,Зябликово,132348,33,74959810758,79165346424,2016-08-22 10:18:00,2016-09-06
23,148920785,3,60,8.0,40.0,7,9,8400000,140000,163906,...,панельный,6,215,Зябликово,132348,33,79269271610,-1,2016-08-31 23:13:00,2016-09-06
24,23353626,1,33,6.1,19.0,5,9,5200000,157576,150997,...,панельный,4,144,Зябликово,132348,33,79263561904,-1,2016-09-04 18:49:00,2016-09-06
25,50933363,1,39,10.0,20.2,15,22,6300000,161538,0,...,NaN,NaN,NaN,NaN,0,0,79264496518,74993905539,2016-09-01 11:13:00,2016-09-06
26,149403324,2,56,9.0,30.0,19,22,8650000,154464,162494,...,блочный,1,283,Зябликово,132348,33,79269054274,-1,2016-09-05 12:46:00,2016-09-06
27,34172398,2,54,9.6,30.2,14,14,7500000,138889,147121,...,панельный,3,167,Зябликово,132348,33,79161272162,79778332162,2016-06-22 19:57:00,2016-09-06
28,148408307,1,33,6.0,19.0,12,12,5800000,175758,156425,...,панельный,4,191,Зябликово,132348,33,79774612922,-1,2016-07-28 18:02:00,2016-09-06
29,148566136,1,38,10.0,17.0,14,22,5800000,152632,162494,...,блочный,1,283,Зябликово,132348,33,79166817678,74956252797,2016-09-05 10:32:00,2016-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,149125092,2,52,8.6,30.7,9,14,7100000,136538,150637,...,панельный,3,167,Зябликово,132348,33,79164416288,-1,2016-08-23 21:32:00,2016-09-06
361,147920594,2,39,-1.0,32.0,8,12,5500000,141026,147478,...,none,1,136,Зябликово,132348,33,74959884422,-1,2016-09-01 11:36:00,2016-09-06
362,148773919,2,52,8.0,30.0,12,12,7850000,150962,153551,...,панельный,7,330,Зябликово,132348,33,79295311293,74955070590,2016-08-08 13:46:00,2016-09-06
363,149202245,3,80,9.0,44.0,4,22,16000000,200000,154324,...,блочный,1,174,Зябликово,132348,33,79629996650,-1,2016-09-04 22:08:00,2016-09-06
364,35850234,2,47,7.0,32.0,9,12,9700000,206383,153847,...,панельный,8,382,Зябликово,132348,33,74952252525,79636302200,2016-08-21 06:00:00,2016-09-06
365,149004760,1,40,10.0,20.0,10,12,6290000,157250,152802,...,панельный,4,191,Зябликово,132348,33,79067125599,74992599634,2016-09-02 11:36:00,2016-09-06
366,142198560,3,64,7.0,45.0,8,12,8100000,126562,154391,...,панельный,4,191,Зябликово,132348,33,74953630850,-1,2016-08-20 16:00:00,2016-09-06
367,148545690,3,60,6.0,43.0,7,9,7500000,125000,151113,...,панельный,10,359,Зябликово,132348,33,79031389969,-1,2016-09-02 13:45:00,2016-09-06
368,148097938,1,38,8.4,19.0,1,17,5200000,136842,158173,...,панельный,7,455,Зябликово,132348,33,79055873862,-1,2016-08-21 22:00:00,2016-09-06
369,149433562,3,76,10.0,45.0,16,17,11500000,151316,153119,...,панельный,2,136,Зябликово,132348,33,79645568282,79260280028,2016-09-06 13:55:00,2016-09-06
370,149295336,1,33,6.0,18.0,2,9,5650000,171212,155519,...,панельный,4,143,Зябликово,132348,33,79774174595,79263703897,2016-08-31 14:19:00,2016-09-06
371,147462012,3,52,6.3,35.5,6,9,7500000,144231,157283,...,панельный,6,215,Зябликово,132348,33,79252279385,74952133005,2016-08-26 15:28:00,2016-09-06
372,23170272,2,44,7.0,28.0,7,9,8500000,193182,154774,...,панельный,10,359,Зябликово,132348,33,79037998898,-1,2016-09-02 16:51:00,2016-09-06
373,46861947,2,52,8.5,31.0,9,17,9000000,173077,155413,...,панельный,5,318,Зябликово,132348,33,79031961686,-1,2016-08-21 00:00:00,2016-09-06
374,148973823,2,51,8.0,30.0,3,17,8500000,166667,153227,...,панельный,7,463,Зябликово,132348,33,79250914383,-1,2016-09-02 18:56:00,2016-09-06
375,148594674,1,40,9.0,19.0,13,22,5600000,140000,163521,...,блочный,1,174,Зябликово,132348,33,74953634818,-1,2016-08-22 01:00:00,2016-09-06
376,47573442,3,76,11.6,46.0,9,17,10500000,138158,150361,...,панельный,2,136,Зябликово,132348,33,79031552721,79852445785,2016-09-01 18:23:00,2016-09-06
377,148192535,2,47,6.0,30.0,2,9,7700000,163830,152843,...,панельный,6,212,Зябликово,132348,33,79169819475,-1,2016-08-30 10:49:00,2016-09-06
378,149155536,2,56,10.0,32.0,14,22,8000000,142857,150918,...,панельный,2,174,Зябликово,132348,33,79060834041,-1,2016-09-01 12:34:00,2016-09-06
379,143882369,3,62,8.5,45.0,2,12,10250000,165323,151901,...,панельный,8,378,Зябликово,132348,33,79165328986,-1,2016-09-05 13:13:00,2016-09-06
380,148183891,2,46,6.8,30.3,4,12,8000000,173913,151334,...,панельный,12,567,Зябликово,132348,33,79260948207,-1,2016-08-29 11:10:00,2016-09-06
381,149386119,2,51,12.0,28.0,4,16,7700000,150980,161661,...,блочный,1,111,Зябликово,132348,33,79267226665,74957770032,2016-09-05 15:06:00,2016-09-06
382,148780268,1,39,9.0,21.0,2,12,6100000,156410,152802,...,панельный,4,191,Зябликово,132348,33,79265233987,79067303206,2016-08-26 16:30:00,2016-09-06
383,149386129,2,51,12.0,28.0,4,16,7700000,150980,161661,...,блочный,1,111,Зябликово,132348,33,79267226665,74957770032,2016-09-05 15:06:00,2016-09-06
384,148638240,1,42,10.0,20.0,4,16,5700000,135714,151758,...,панельный,8,414,Зябликово,132348,33,79037261966,-1,2016-08-08 18:11:00,2016-09-06
385,149386135,2,51,12.0,28.0,4,16,7700000,150980,161661,...,блочный,1,111,Зябликово,132348,33,79267226665,74957770032,2016-09-05 15:06:00,2016-09-06
386,149431200,2,56,10.0,32.0,11,17,9400000,167857,165152,...,панельный,3,203,Зябликово,132348,33,79254302525,-1,2016-09-06 12:43:00,2016-09-06
387,147919936,3,60,6.1,42.7,2,9,7600000,126667,155828,...,панельный,4,144,Зябликово,132348,33,74959884422,-1,2016-09-01 11:34:00,2016-09-06
388,147875466,2,52,8.6,30.4,6,12,7200000,138462,153551,...,панельный,7,330,Зябликово,132348,33,74953630160,-1,2016-08-21 02:00:00,2016-09-06
389,147701812,4,65,6.0,46.3,1,9,8400000,129231,154264,...,панельный,4,144,Зябликово,132348,33,74953630433,-1,2016-08-22 02:00:00,2016-09-06